<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" routerLink="/">PRODUCTLIST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li  *ngIf="!auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/login" href="#">INICIAR SESION</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item active" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" href="#" routerLink="" (click)="auth.logout()">Salir</a>

      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link"  href="/products" >Productos</a>
      </li>
      <li class="nav-item active" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" href="#" routerLink="" (click)="auth.logout()">ADD PRODUCT</a>

      </li>
    </ul>
  </div>
</div>
</nav>
<div class="container p-4">
<router-outlet></router-outlet>
</div>