<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="register()">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
          <div class="form-group">
            <label for="name">First name</label>
            <input type="text" class="form-control" name="nombre" placeholder="Enter your first name" [(ngModel)]="credentials.nombre">
          </div>
          <div class="form-group">
            <label for="name">Last name</label>
            <input type="text" class="form-control" name="apellido" placeholder="Enter your lastname name" [(ngModel)]="credentials.apellido">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="correo" placeholder="Enter email" [(ngModel)]="credentials.correo">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
        </form>
      </div>
    </div>
  </div>